#content #bx-soa-order-form *{
    box-sizing:border-box
}
#bx-soa-order-form{
    font-size:12px
}
#bx-soa-order .form-control:focus{
    outline:0;
    box-shadow:none;
    border-color:#f2f2f2
}
#content #bx-soa-order-form .row{
    margin-top:0
}
.bx-authform-formgroup-container .checkbox{
    padding:0
}
#content #bx-soa-order-form .row.bx-soa-more{
    margin-top:30px
}
.bx-soa-section.bx-selected .bx-soa-section-content,.bx-soa-section.bx-step-completed .bx-soa-section-content{
    padding:0;
    line-height:20px;
    font-size:14px;
    transition:none
}
.bx-soa-section{
    transition:none
}
#bx-soa-order ul li:before{
    display:none
}
#bx-soa-order .alert-danger{
    font-size:14px;
    line-height:20px;
    border-radius:0;
    padding:15px 29px;
    background:#fee;
    color:#e83333
}
#bx-soa-order .bx-soa-section{
    border-radius:0;
    margin:0 0 20px
}
#bx-soa-order .bx-soa-section.bx-selected{
    border:1px solid #f2f2f2
}
#bx-soa-order .bx-soa-section .bx-soa-section-title-container{
    padding:29px 19px 29px 79px;
    border-bottom:1px solid #f2f2f2;
    background:#fbfbfb;
    cursor:pointer
}
#bx-soa-order .bx-soa-section.bx-selected .bx-soa-section-title-container{
    cursor:default
}
#bx-soa-order .bx-soa-section .bx-soa-section-title{
    text-align: left;
    position:relative;
    font-size:20px;
    line-height:24px;
    color:#333;
    padding-left:0!important;
    padding-top:1px;
    font-weight:700
}
#bx-soa-order .bx-soa-section .bx-soa-section-title:before{
    content:"";
    position:absolute;
    left:-50px;
    top:-3px;
    margin:0;
    width:30px;
    height:30px;
    background:url(images/order.png) 0 0 no-repeat
}
#bx-soa-order .bx-soa-section.bx-step-completed .bx-soa-section-title:before{
    background-color:#52c200!important;
    background-position:-30px -30px!important
}
#bx-soa-order .bx-soa-section.bx-step-error:not(.bx-selected) .bx-soa-section-title:before{
    background:0 0;
    background:url(images/order.png) -60px -30px no-repeat!important
}
#bx-soa-order .bx-soa-editstep{
    display:inline-block;
    margin:1px 0 0;
    font-size:14px;
    line-height:20px;
    border:none
}
#bx-soa-order .bx-soa-editstep:first-letter{
    text-transform:uppercase
}
#bx-soa-order .bx-soa-editstep:hover{
    text-decoration:none
}
#bx-soa-order .bx-soa-section.bx-selected .bx-soa-editstep{
    display:none
}
#bx-soa-order #bx-soa-region{
    border:1px solid #f2f2f2
}
#bx-soa-order #bx-soa-region .bx_soa_location .form-group .bx-soa-custom-label{
    display:block
}
#bx-soa-order #bx-soa-region .bx_soa_location .form-group:first-child br{
    display:none
}
#bx-soa-order #bx-soa-region .bx_soa_location .form-group:first-child>label{
    margin:0 0 5px
}
#bx-soa-order #bx-soa-region .bx_soa_location .form-group.bx-soa-location-input-container{
    margin:0 0 25px
}
#bx-soa-order #bx-soa-region .bx_soa_location .radio-inline{
    margin:5px 40px 5px 0
}
#bx-soa-order .bx-soa .bx-soa-custom-label,.bx-soa .form-group label{
    margin:0;
    padding:0;
    font-size:13px;
    line-height:20px;
    margin-bottom:2px;
    color:#777;
    z-index:1
}
#bx-soa-order div[class*=bx-sls] .quick-locations{
    margin:7px 0 12px
}
#bx-soa-order div[class*=bx-sls] .quick-locations .quick-location-tag{
    margin:3px 1px 1px 1px;
    padding:0;
    padding:5px 15px;
    height:auto;
    background:0 0;
    border:1px solid #ddd;
    font-size:14px;
    line-height:20px;
    -webkit-transition:all .1s ease-in-out;
    -moz-transition:all .1s ease-in-out;
    transition:all .1s ease-in-out
}
#bx-soa-order div[class*=bx-sls] .quick-locations .quick-location-tag:hover{
    color:#fff
}
#bx-soa-order .bx-ui-sls-tree-trunk{
    font-size:14px;
    padding-left:45px
}
#bx-soa-order div[class*=bx-sls] .form-control.dropdown-block{
    font-size:14px;
    color:#333;
    line-height:20px;
    border:1px solid #ececec;
    background:#f7f7f7;
    padding-left:44px
}
.bx-soa-location-input-container .bx-ui-slst-pool>div{
    padding-left:44px
}
#bx-soa-order .bx-sls .form-control.dropdown-block{
    position:relative;
    height:auto
}
#bx-soa-order div[class*=bx-sls] .form-control.dropdown-block .bx-ui-sls-container input{
    padding-right:27px!important
}
div[class*=bx-sls] .dropdown-icon{
    position:absolute;
    left:17px;
    top:50%;
    margin:-8px 0 0;
    width:16px;
    height:16px;
    background:url(images/order_ext.png) -5px -75px no-repeat
}
div[class*=bx-sls] .bx-ui-sls-clear{
    position:absolute;
    margin:0;
    height:auto;
    right:0;
    top:0;
    bottom:0;
    width:44px;
    height:auto;
    cursor:pointer;
    background:0 0
}
div[class*=bx-sls] .bx-ui-sls-clear:before{
    content:"";
    position:absolute;
    left:50%;
    top:50%;
    margin:-10px 0 0 -10px;
    width:20px;
    height:20px;
    background:url(images/order_ext.png) -82px -61px no-repeat!important;
    border-radius:100%
}
div[class*=bx-sls] .bx-ui-sls-clear:hover:before{
    background-position:-82px -82px!important;
    background-color:#ddd
}
.bx-sls .dropdown-block{
    background:#f7f7f7;
    padding:1px 44px 1px;
    font-size:14px;
    color:#333;
    line-height:20px;
    border:1px solid #ececec;
    box-shadow:none
}
body .filter.label_block input+label{
    padding-left:23px;
    font-size:13px;
    color:#888
}
#bx-soa-order .bx-slst .dropdown-block.form-control{
    margin-bottom:10px
}
#bx-soa-order #bx-soa-orderSave{
    margin:20px 0 0;
    padding:0!important;
    text-align:center
}
#bx-soa-order #bx-soa-orderSave .checkbox{
    display:none
}
#bx-soa-order .form{
    text-align:center
}
#bx-soa-order .form .licence_block{
    display:inline-block;
    padding-bottom:5px
}
#bx-soa-order .form .licence_block label{
    font-size:14px;
    color:#333
}
#bx-soa-order .form .licence_block label.error{
    font-size:12px
}
#bx-soa-order #bx-soa-orderSave a {
    float: none!important;
    text-shadow: none;
    font-size: 16px;
    min-width: 45%;
    line-height: 26px;
    color: #fff;
    font-weight: 700;
    display: inline-block!important;
    margin-top: 0!important;
}
#bx-soa-order .bx-soa-more{
    border:none;
    padding:25px 29px 0 29px;
    margin:27px -30px 0 -30px;
    border-top:1px solid #f1f1f1
}
#bx-soa-order .bx-soa-more .bx-soa-more-btn{
    padding:0
}
#bx-soa-order .bx-soa-more .bx-soa-more-btn .pull-left{
    background:0 0
}
#bx-soa-order #bx-soa-region .bx_soa_location .form-group[data-property-id-row]{
    margin-top:20px
}
#bx-soa-order .bx-soa-section-title-count{
    display:none
}
#bx-soa-order .alert .row{
    margin-top:0
}
#bx-soa-order .alert .row div{
    font-size:12px
}
.bx-sls .dropdown-fade2white{
    display:none
}
#bx-soa-order .form-group{
    position:relative;
    font-size:14px
}
#bx-soa-order .form-group label[for=zipProperty]:not(.error){
    top:0;
    left:0;
    font-weight:400;
    cursor:text;
    display:block;
    font-size:13px;
    margin-bottom:7px;
    color:#777
}
#bx-soa-order .form-group.value_y label:not(.error){
    position:absolute;
    background:#fff;
    font-size:12px;
    top:-10px;
    left:10px;
    padding:0 7px
}
#bx-soa-order .form-group.value_y input,#bx-soa-order .form-group.value_y textarea{
    background:#fff
}
#bx-soa-order .bx-soa-reference{
    margin:-8px 0 0;
    padding:0;
    font-size:12px;
    line-height:14px;
    color:#999
}
#bx-soa-order .bx-soa-tooltip{
    position:absolute;
    bottom:-22px;
    left:0;
    padding:0;
    background:0 0;
    max-width:100%;
    box-shadow:none;
    top:auto
}
#bx-soa-order .bx-soa-tooltip .tooltip-arrow{
    display:none
}
#bx-soa-order .bx-soa-tooltip .tooltip-inner{
    max-width:100%;
    padding:0;
    font-size:12px;
    line-height:20px;
    color:#fe5252;
    background:0 0
}
#bx-soa-order .has-error .form-control{
    border-color:#fe5252
}
#bx-soa-order .form-group.has-error{
    margin-bottom:41px!important
}
#bx-soa-order .form-group.has-error input{
    border-color:#fe5252
}
#bx-soa-order .form-group.has-error .form-control.dropdown-block{
    border-color:#fe5252
}
#bx-soa-order .form.form-group.bx-soa-customer-field{
    text-align:center;
    padding-top:4px;
    margin-bottom:20px!important
}
#bx-soa-order .form.form-group.bx-soa-customer-field .licence_block{
    display:inline-block;
    padding:0;
    text-align:center
}
#bx-soa-order .form.form-group.bx-soa-customer-field .licence_block .license{
    display:inline-block
}
#bx-soa-order .form.form-group.bx-soa-customer-field .licence_block .bx-soa-tooltip{
    bottom:-35px;
    position:static
}
#bx-soa-order .form.form-group.bx-soa-customer-field .licence_block .bx-soa-tooltip .tooltip-inner{
    text-align:left
}
#bx-soa-order .form.form-group+#bx-soa-orderSave{
    margin-top:15px
}
#bx-soa-order .bx-soa-section-title:before {
    background-color: #e11d71!important;
}
#bx-soa-order #bx-soa-delivery .bx-soa-section-title:before{
    background-position:-30px 0
}
#bx-soa-order #bx-soa-delivery .bx-soa-pp-price{
    white-space:nowrap
}
#bx-soa-order .bx-soa .bx-soa-location-input-container:before{
    display:none
}
#bx-soa-order .bx-soa-pp-item-container:after{
    content:"";
    display:table;
    clear:both
}
#bx-soa-order .bx-soa-pp-item-container .bx-soa-pp-company{
    clear:both;
    position:relative;
    float:none;
    border:none;
    margin:19px 0 0;
    padding:0 0 24px;
    width:auto;
    transition:none;
    cursor:pointer
}
#bx-soa-order .bx-soa-pp-item-container .bx-soa-pp-company:after{
    content:"";
    display:table;
    clear:both
}
#bx-soa-order .bx-soa-pp-item-container .bx-soa-pp-company:first-child{
    margin-top:0
}
#bx-soa-order .bx-soa-pp-company-graf-container{
    position:relative;
    padding:0;
    border:1px solid #fbfbfb;
    border-radius:0;
    width:120px;
    height:72px;
    background:#fbfbfb;
    cursor:pointer
}
#bx-soa-order .bx-soa-pp-item-container .bx-soa-pp-company-graf-container{
    display:table-cell;
    vertical-align:middle
}
#bx-soa-order .bx-soa-pp-item-container .bx-soa-pp-company-graf-container:before{
    content:"";
    position:absolute;
    top:7px;
    left:7px;
    width:20px;
    height:20px;
    border:1px solid #f2f2f2;
    background:#fff;
    border-radius:100%;
    z-index:1
}
#bx-soa-order .bx-soa-pp-item-container:hover .bx-soa-pp-company-graf-container:before{
    border:none
}
#bx-soa-order .bx-soa-pp-item-container .bx-soa-pp-company.bx-selected .bx-soa-pp-company-graf-container:before{
    border:none
}
#bx-soa-order .bx-soa-pp-item-container .bx-soa-pp-company.bx-selected .bx-soa-pp-company-graf-container:after{
    content:"";
    position:absolute;
    left:12px;
    top:13px;
    width:10px;
    height:8px;
    background:url(images/order_ext.png) -64px -9px no-repeat;
    z-index:2
}
#bx-soa-order .bx-soa-pp-company-graf-container .bx-soa-pp-company-image{
    position:relative;
    border:1px solid #f2f2f2;
    width:118px;
    height:70px;
    top:auto;
    right:auto;
    bottom:auto;
    left:auto;
    background-position:center center!important;
    background-size:auto!important;
    background-repeat:no-repeat!important
}
#bx-soa-order .bx-soa-pp-company.bx-selected .bx-soa-pp-company-graf-container .bx-soa-pp-company-image{
    cursor:default
}
#bx-soa-order .bx-soa-pp-item-container .bx-soa-pp-company-graf-container input{
    display:none
}
#bx-soa-order .bx-soa-pp-item-container .bx-soa-pp-company-smalltitle{
    display:table-cell;
    vertical-align:middle;
    padding:0 0 0 20px;
    font-size:15px;
    font-weight:700;
    line-height:20px;
    color:#777;
    text-align:left
}
#bx-soa-order .bx-soa-pp-item-container .bx-soa-pp-company.bx-selected{
    cursor:default
}
#bx-soa-order .bx-soa-pp-item-container .bx-soa-pp-company.bx-selected .bx-soa-pp-company-smalltitle{
    color:#e11d71;
}
#bx-soa-order .bx-soa-pp-item-container .bx-soa-pp-delivery-cost{
    font-size:14px;
    line-height:20px;
    color:#333;
    padding:1px 5px;
    background:#fbfbfb;
    text-align:center;
    left:0;
    right:0;
    bottom:-24px;
    border:1px solid #f2f2f2;
    border-top:none
}
#bx-soa-order .bx-soa-pp-desc-container .bx-soa-pp-company{
    position:relative;
    padding:22px 24px 20px;
    border:1px solid #f2f2f2;
    border-top:none;
    background:#fbfbfb;
    -moz-border-radius-bottomright:2px;
    -webkit-border-bottom-right-radius:2px;
    border-bottom-right-radius:2px;
    -moz-border-radius-bottomleft:2px;
    -webkit-border-bottom-left-radius:2px;
    border-bottom-left-radius:2px
}
#bx-soa-order .bx-soa-pp-desc-container .bx-soa-pp-company:before{
    content:"";
    position:absolute;
    top:0;
    right:-1px;
    left:-1px;
    height:2px
}
#bx-soa-order .bx-soa-pp-desc-container .bx-soa-pp-company:after{
    content:"";
    display:table;
    clear:both
}
#bx-soa-order .bx-soa-pp-desc-container .bx-soa-pp-company .bx-soa-pp-company-image{
    margin:5px 0 0;
    background:#fff;
    cursor:default;
    border-radius:0
}
#bx-soa-order .bx-soa-pp-desc-container .bx-soa-pp-company .bx-soa-pp-company-block:after{
    content:"";
    display:table;
    clear:both
}
#bx-soa-order .bx-soa-pp-desc-container .bx-soa-pp-company .bx-soa-pp-company-block>br{
    display:none
}
#bx-soa-order .bx-soa-pp-desc-container .bx-soa-pp-company .bx-soa-pp-company-desc{
    padding:10px 0 0 0;
    font-size:13px;
    line-height:20px;
    color:#777
}
#bx-soa-order .bx-soa-pp-desc-container .bx-soa-pp-company ul.bx-soa-pp-list{
    padding:0;
    margin:17px 0 0
}
#bx-soa-order .bx-soa-pp-desc-container .bx-soa-pp-company ul.bx-soa-pp-list li{
    padding:0
}
#bx-soa-order .bx-soa-pp-desc-container .bx-soa-pp-company .bx-soa-pp-list-termin{
    margin:0 3px 0 0;
    display:inline-block;
    vertical-align:top;
    font-size:15px;
    font-weight:700;
    line-height:20px;
    color:#333
}
#bx-soa-order .bx-soa-pp-desc-container .bx-soa-pp-company .bx-soa-pp-list-description{
    display:inline-block;
    vertical-align:top;
    font-size:15px;
    font-weight:700;
    line-height:20px;
    color:#333
}
#bx-soa-order .bx-soa-pp-desc-container .bx-soa-pp-company-logo{
    padding:0
}
#bx-soa-order .bx-soa-pp-desc-container .bx-soa-pp-company-subTitle{
    margin:0 0 10px;
    font-size:15px;
    font-weight:700;
    line-height:20px;
    color:#383838
}
#bx-soa-order .bx-soa-pp-desc-container .bx-soa-pp-field label:not(.error){
    position:relative;
    top:auto;
    left:auto;
    margin:0 0 5px;
    padding:0;
    font-size:13px;
    line-height:20px;
    color:#777;
    background:0 0
}
#bx-soa-order .bx-soa-pp-desc-container .bx-soa-pp-field .bx-soa-service-small{
    margin:7px 0 0;
    font-size:12px;
    line-height:14px;
    color:#999
}
#bx-soa-order .bx-soa-pp-desc-container .checkbox{
    margin:21px 0 0
}
#bx-soa-order .bx-soa-pp-desc-container .checkbox:first-child{
    margin-top:0
}
#bx-soa-order .bx-soa-pp-desc-container .checkbox input{
    display:none
}
#bx-soa-order .bx-soa-pp-desc-container .checkbox label{
    position:relative;
    padding:0 0 0 27px;
    font-size:14px;
    line-height:20px;
    color:#333
}
#bx-soa-order .bx-soa-pp-desc-container .checkbox label:before{
    content:"";
    position:absolute;
    left:0;
    top:1px;
    width:18px;
    height:18px;
    border:1px solid #e9e9e9;
    background:#fff;
    border-radius:2px
}
#bx-soa-order .bx-soa-pp-desc-container .checkbox label:hover:before{
    border:none
}
#bx-soa-order .bx-soa-pp-desc-container .checkbox label.checked:before{
    border:none
}
#bx-soa-order .bx-soa-pp-desc-container .checkbox label.checked:after{
    content:"";
    position:absolute;
    top:6px;
    left:4px;
    width:10px;
    height:8px;
    background:url(images/order_ext.png) -64px -9px no-repeat
}
#bx-soa-order .bx-soa-pp-desc-container .checkbox .bx-soa-service-small{
    margin:1px 0 0
}
#bx-soa-order .bx-soa-pp-desc-container .bx-soa-pp-field{
    margin:13px 0 0
}
#bx-soa-order .bx-soa-pp-desc-container .bx-soa-pp-field:first-of-type{
    margin-top:22px
}
#bx-soa-order .bx-soa-section{
    border:1px solid #f2f2f2
}
#bx-soa-order .bx-soa-section.bx-step-completed{
    border:1px solid #f2f2f2
}
#bx-soa-order .bx-soa-pp-company-block .form-control{
    font-size:12px
}
#bx-soa-order .form-control{
    margin-bottom:0
}
body #bx-soa-order .bx-soa-cart-total-line.bx-soa-cart-total-line-highlighted{
    background:#ffd02e;
    padding:3px 8px 2px;
    border-radius:3px;
    margin:10px 0 10px
}
#bx-soa-order .bx-soa-section .bx-soa-section-content{
    padding:25px 30px 25px 30px;
    font-size:15px;
    line-height:20px;
    color:#333;
    transition:none
}
#bx-soa-order .bx-soa-section.bx-active .bx-soa-section-content strong{
    font-weight:700;
    margin:0
}
#bx-soa-order .bx-soa-coupon{
    margin:30px -29px -2px -29px;
    padding:25px 29px 0 29px;
    border-top:1px solid #f2f2f2
}
#bx-soa-order #bx-soa-basket .bx-soa-coupon{
    margin:0 0 27px
}
#bx-soa-order #bx-soa-basket .bx-soa-more{
    margin:0 0 25px
}
#bx-soa-order .bx-soa-coupon-label{
    margin:2px 0 0;
    padding:0;
    display:inline-block;
    vertical-align:top
}
#bx-soa-order .bx-soa-coupon-block{
    display:inline-block;
    vertical-align:top
}
#bx-soa-order .bx-soa-coupon label{
    margin:0;
    width:90px;
    font-size:14px;
    font-weight:400;
    line-height:15px;
    color:#333
}
#bx-soa-order .bx-soa-coupon.bx-soa-coupon-item-fixed .bx-soa-coupon-label{
    margin-top:0
}
#bx-soa-order .bx-soa-coupon-input{
    width:260px;
    display:block;
    position:relative;
    overflow:hidden;
    border-radius:2px
}
#bx-soa-order .bx-soa-coupon-input:after{
    content:"";
    position:absolute;
    top:-1px;
    bottom:-1px;
    right:0;
    margin:0;
    width:45px;
    height:auto;
    cursor:pointer;
    border:none;
    background:url(images/order_ext.png) -30px -28px no-repeat;
    -webkit-transform:rotate(0);
    -moz-transform:rotate(0);
    -o-transform:rotate(0);
    -ms-transform:rotate(0);
    transform:rotate(0)
}
#bx-soa-order .bx-soa-coupon-input:hover:after{
    background-position:9px -28px
}
#bx-soa-order .bx-soa-coupon-input:hover:after, #bx-soa-order .bx-soa-coupon-item .bx-soa-coupon-remove:hover {
    background-color: #e11d71;
}
#bx-soa-order .bx-soa-coupon-input input[type=text].form-control,#bx-soa-order textarea.form-control{
    padding:8px 67px 7px 17px;
    height:auto;
    border:none;
    color:#333;
    background:#fbfbfb;
    font-size:14px;
    line-height:20px;
    border-radius:2px;
    border:1px solid #f2f2f2
}
#bx-soa-order .bx-soa-coupon-input input[type=text].form-control:focus{
    background:#fff
}
#bx-soa-order .bx-soa-section.bx-active .bx-soa-section-content .bx-soa-pp-company-selected img{
    display:none
}
#bx-soa-order .bx-soa-pp-company-selected{
    padding-top:0;
    padding-bottom:0
}
#bx-soa-order .bx-soa-pp-price{
    padding:0;
    font-size:15px;
    font-weight:700;
    line-height:20px;
    color:#333
}
#bx-soa-order #bx-soa-paysystem .bx-soa-section-title:before{
    background-position:-60px 0
}
#bx-soa-order #bx-soa-properties .bx-soa-section-title:before{
    background-position:-90px 0
}
#bx-soa-order #bx-soa-properties .form-group:not([data-property-id-row]){
    margin:4px 0 0
}
#bx-soa-order #bx-soa-properties .form-group:not([data-property-id-row]):first-child{
    margin-top:0
}
#bx-soa-order #bx-soa-properties .form-group:not([data-property-id-row]) .bx-soa-custom-label{
    margin:0 3px 0 0;
    display:inline-block;
    vertical-align:top;
    font-size:15px;
    font-weight:700;
    line-height:20px;
    color:#333
}
#bx-soa-order #bx-soa-properties .form-group:not([data-property-id-row]) .bx-soa-custom-label:after{
    content:":"
}
#bx-soa-order #bx-soa-properties .form-group:not([data-property-id-row]) .bx-soa-custom-label .bx-authform-starrequired{
    display:none
}
#bx-soa-order #bx-soa-properties .form-group:not([data-property-id-row])>div{
    display:inline-block;
    vertical-align:top
}
#bx-soa-order #bx-soa-basket .bx-soa-section-title:before{
    background-position:0 -30px
}
#bx-soa-order .bx-soa-section .bx-soa-coupon-item{
    display:block
}
#bx-soa-order .bx-soa-section .bx-soa-section-content .bx-soa-coupon-item>strong{
    display:block;
    margin:16px 0 0;
    font-weight:400;
    text-transform:none;
    font-size:14px;
    line-height:20px;
    color:#333
}
#bx-soa-order .bx-soa-section .bx-soa-coupon-item .bx-soa-tooltip{
    float:right;
    display:block;
    margin:0 0 0 15px;
    opacity:1;
    position:relative;
    left:auto;
    bottom:auto
}
#bx-soa-order #bx-soa-paysystem .bx-soa-pp-item-container .bx-soa-pp-company{
    padding-bottom:0
}
#bx-soa-order .bx-soa-coupon-item .bx-soa-tooltip .tooltip-inner{
    font-size:14px;
    color:#333
}
#bx-soa-order .bx-soa-coupon-item .bx-soa-coupon-item-danger{
    position:relative;
    padding:0 0 0 30px;
    color:#333
}
#bx-soa-order .bx-soa-coupon-item .bx-soa-coupon-item-used{
    position:relative;
    padding:0 0 0 30px;
    color:#333
}
#bx-soa-order .bx-soa-coupon-item .bx-soa-coupon-item-success{
    position:relative;
    padding:0 0 0 30px;
    color:#333
}
#bx-soa-order .bx-soa-coupon-item .bx-soa-coupon-item-danger:before{
    content:"";
    position:absolute;
    top:0;
    left:0;
    width:20px;
    height:20px;
    background:url(images/order_ext.png) -32px -73px no-repeat
}
#bx-soa-order .bx-soa-coupon-item .bx-soa-coupon-item-used:before{
    content:"";
    position:absolute;
    top:0;
    left:0;
    width:20px;
    height:20px;
    background:url(images/order_ext.png) -26px -4px no-repeat
}
#bx-soa-order .bx-soa-coupon-item .bx-soa-coupon-item-success:before{
    content:"";
    position:absolute;
    top:0;
    left:0;
    width:20px;
    height:20px;
    background:url(images/order_ext.png) -5px -4px no-repeat
}
#bx-soa-order .bx-soa-coupon-item .bx-soa-coupon-remove{
    float:right;
    width:20px;
    height:20px;
    margin:2px 0 0 3px;
    border-radius:100%;
    background:url(images/order_ext.png) -82px -62px no-repeat
}
#bx-soa-order .bx-soa-coupon-item .bx-soa-coupon-remove:hover{
    background-position:-82px -82px
}
#bx-soa-order #bx-soa-properties .form-group{
    margin:0 0 30px
}
#bx-soa-order #bx-soa-properties.bx-selected .form-group label{
    position:relative;
    top:0;
    left:0;
    cursor:text;
    font-size:13px;
    margin-bottom:6px
}
#bx-soa-order #bx-soa-properties.bx-selected .form-group.value_y label{
    background:#fff;
    top:-10px;
    left:10px;
    padding:0 7px
}
#bx-soa-order #bx-soa-properties .form-group textarea{
    height:106px;
    border:1px solid #ececec
}
#bx-soa-order #propsMap{
    margin:0 0 20px;
    height:332px!important
}
#bx-soa-order #propsMap>ymaps{
    height:332px!important
}
#bx-soa-order .bx-soa-cart-total{
    padding:30px 29px 40px;
    border:1px solid #f2f2f2;
    border-radius:0;
    background:#fff;
    z-index: 10;
}
#bx-soa-order .bx-soa-cart-total .bx-soa-cart-total-line{
    margin:2px 0 0;
    padding:0;
    font-size:14px;
    line-height:20px;
    color:#333;
    border:none
}
#bx-soa-order .bx-soa-cart-total .bx-soa-cart-total-line:first-child{
    margin-top:0
}
#bx-soa-order .bx-soa-cart-total .bx-soa-cart-total-line .bx-soa-cart-t{
    width:46%;
    font-weight:400
}
#bx-soa-order .bx-soa-cart-total .bx-soa-cart-total-line .bx-soa-cart-d{
    width:54%;
    text-align:right
}
#bx-soa-order .bx-soa-cart-total .bx-soa-cart-total-line-total{
    margin:27px 0 0;
    padding:25px 0 0;
    border-top:1px solid #f2f2f2
}
#bx-soa-order .bx-soa-cart-total .bx-soa-cart-total-line-total .bx-soa-cart-t{
    font-size:16px;
    font-weight:700
}
#bx-soa-order .bx-soa-cart-total .bx-soa-cart-total-line-total .bx-soa-cart-d{
    font-size:18px!important;
    font-weight:700
}
#bx-soa-order .bx-soa-cart-total-button-container{
    padding:0;
    margin:26px 0 0
}
#bx-soa-order .bx-soa-cart-total-button-container .btn{
    padding:10px 12px 12px;
    font-size:17px!important
}
#bx-soa-order #bx-soa-basket .bx-soa-section-content{
    padding:0
}
#bx-soa-order #bx-soa-basket .bx-soa-coupon.bx-soa-coupon-item-fixed{
    margin:0 0 30px
}
#bx-soa-order #bx-soa-basket .bx-soa-item-table{
    margin:0 0 -1px
}
#bx-soa-order #bx-soa-basket .bx-soa-item-table .bx-soa-item-tr .bx-soa-item-td{
    padding:39px 10px 25px!important;
    border-top:none;
    border-bottom:1px solid #f2f2f2;
    position:relative;
    vertical-align: middle;
}
#bx-soa-order #bx-soa-basket .bx-soa-item-table .bx-soa-item-tr .bx-soa-item-td .bx-soa-info-shower{
    padding:0 20px 10px;
    display:inline-block
}
.bx-soa-info-shower+.bx-soa-item-info-block.bx-active{
    padding:0 20px 0
}
.bx-soa-info-block .bx-soa-info-line td{
    font-size:13px
}
#bx-soa-order #bx-soa-basket .bx-soa-item-table .bx-soa-item-tr:first-child .bx-soa-item-td .bx-soa-item-td-title{
    padding:0;
    font-size:13px;
    line-height:20px;
    color:#999
}
#bx-soa-order #bx-soa-basket .bx-soa-item-table .bx-soa-item-tr .bx-soa-item-td:last-child{
    padding-right:24px!important
}
#bx-soa-order #bx-soa-basket .bx-soa-item-table .bx-soa-item-block{
    padding:0 0 0 14px
}
#bx-soa-order #bx-soa-basket .bx-soa-item-table .bx-soa-item-img-block{
    margin:0 0 0;
    padding:0;
    width:70px;
    height:70px;
    line-height:70px
}
#bx-soa-order #bx-soa-basket .bx-soa-item-table .bx-soa-item-img-block .bx-soa-item-imgcontainer{
    width:70px;
    height:70px;
    line-height:70px;
    padding:0;
    border-radius:0;
    border:none
}
#bx-soa-order #bx-soa-basket .bx-soa-item-table .bx-soa-item-content{
    padding:0 0 0 90px
}
#bx-soa-order #bx-soa-basket .bx-soa-item-table .bx-soa-item-title{
    margin:0 0 6px;
    padding:0;
    font-size:14px;
    font-weight:400;
    line-height:20px
}
#bx-soa-order #bx-soa-basket .bx-soa-item-table .bx-soa-item-title a{
    color:#333
}
#bx-soa-order #bx-soa-basket .bx-soa-item-content .bx-scu-container{
    max-width:100%;
    height:auto;
    margin:0 0 10px
}
#bx-soa-order #bx-soa-basket .bx-soa-item-content .bx-scu-container:after{
    background:0 0
}
#bx-soa-order #bx-soa-basket .bx-soa-item-content .bx-scu-container .bx-soa-item-td-title{
    margin:0;
    padding:0;
    font-size:12px;
    line-height:16px;
    color:#999
}
#bx-soa-order #bx-soa-basket .bx-soa-item-content .bx-scu-container .bx-soa-item-td-text{
    margin:0 0 0 6px;
    padding:0;
    font-size:12px;
    line-height:16px;
    color:#999
}
#bx-soa-order #bx-soa-basket .bx-soa-item-td-text small{
    display:block;
    margin:-1px 0 0;
    font-size:11px;
    line-height:14px;
    color:#aeaeae
}
#bx-soa-order #bx-soa-basket .bx-soa-item-properties.bx-text-right{
    text-align:left
}
#bx-soa-order #bx-soa-basket .bx-soa-item-properties.bx-text-right>div{
    text-align:left
}
#bx-soa-order #bx-soa-basket .bx-soa-item-td-text{
    line-height:20px
}
#bx-soa-order #bx-soa-basket .bx-price{
    line-height:16px;
    color:#333
}
#bx-soa-order #bx-soa-basket .bx-soa-item-td-title{
    font-size:12px;
    color:#999;
    vertical-align:top
}
#bx-soa-order .bx-price-old{
    margin:0 0 0 4px!important;
    font-size:13px;
    font-weight:400!important;
    line-height:20px;
    color:#777
}
#bx-soa-order #bx-soa-total-mobile{
    margin:0 0 20px!important
}
.bx-soa-item-tr.bx-soa-item-info-container+.bx-soa-basket-info .bx-soa-item-td{
    border-top:1px solid #f2f2f2!important
}
.bx-soa-item-tr.bx-soa-item-info-container .bx-soa-item-td{
    border:none!important
}
.basket_button,.basket_button span,.button30,.button30 span,.popup .soc-avt .row a{
    color:#fff;
}
#bx-soa-order-form .btn.btn-default{
    border-radius: 40px;
    background:#e11d71;
    border-color:#e11d71;
}
#bx-soa-order-form .btn.btn-default:hover{
    background:#e11d71;
    border-color:#e11d71;
}
#bx-soa-order .alert {
    margin: 0 0 20px 0!important;
}
#basket-root .basket-items-list-header-filter-item:not(.active){
    color:#e11d71;
}
#basket-root .basket-items-list-header-filter-item.active:before{
    background-color:#e11d71;
}
#basket-root .basket-item-scu-item:hover,#basket-root .basket-item-scu-item.selected,#basket-root .basket-item-scu-item.not-available:hover{
    border-color:#e11d71;
}
#basket-root .basket-items-list .basket-item-block-info .basket-items-list-item-warning-container .alert.alert-warning a[data-entity="basket-item-remove-delayed"]:before{
    background-color:#e11d71;
}
#basket-root .basket-item-property-scu-text .basket-item-scu-item.selected{
    background-color:#e11d71;
}
#basket-root .basket-coupon-block-coupon-btn{
    background-color:#e11d71;
}
#basket-root .basket-checkout-section .btn.btn-default:not(.basket-btn-checkout){
    border-color:#e11d71;
    background-color:#e11d71;
}
#basket-root .basket-checkout-section .btn.btn-default:hover,body #basket-root .basket-checkout-section .btn.btn-default:active,body #basket-root .basket-checkout-section .btn.btn-default:focus{
    border-color:#e11d71;
    background-color:#e11d71;
}
#basket-root #basket-warning{
    border-color:#e11d71;
}
#bx-soa-order .bx-soa-section .bx-soa-section-title:before{
    background-color:#e11d71;
}
#bx-soa-order div[class*=bx-sls] .quick-locations .quick-location-tag{
    border-color:#e11d71;
    color:#e11d71;
}
#bx-soa-order div[class*=bx-sls] .quick-locations .quick-location-tag:hover{
    background-color:#e11d71;
    color:#fff;
}
#bx-soa-order .bx-soa-pp-item-container .bx-soa-pp-company.bx-selected .bx-soa-pp-company-graf-container,#bx-soa-order .bx-soa-pp-item-container .bx-soa-pp-company:hover .bx-soa-pp-company-graf-container{
    border-color:#e11d71;
}
#bx-soa-order .bx-soa-pp-desc-container .bx-soa-pp-company:before,#bx-soa-order .bx-soa-pp-desc-container .checkbox label:hover:before,#bx-soa-order .bx-soa-pp-desc-container .checkbox label.checked:before{
    background-color:#e11d71;
}
#bx-soa-order .bx-soa-pp-item-container .bx-soa-pp-company:hover .bx-soa-pp-company-smalltitle,#bx-soa-order .bx-soa-more .bx-soa-more-btn .pull-left{
    color:#e11d71;
}
#bx-soa-order .bx-soa-coupon-input:hover:after,#bx-soa-order .bx-soa-coupon-item .bx-soa-coupon-remove:hover{
    background-color:#e11d71;
}
#bx-soa-order .bx-soa-more .bx-soa-more-btn .pull-left:hover{
    color:#fff
}
#bx-soa-order #bx-soa-region .bx_soa_location .form-group[data-property-id-row]{
    margin-top:20px
}
#bx-soa-order .bx-soa-section-title-count{
    display:none
}
#bx-soa-order .alert .row{
    margin-top:0
}
#bx-soa-order .alert .row div{
    font-size:12px
}
.bx-sls .dropdown-fade2white{
    display:none
}
#bx-soa-order .form-group{
    position:relative;
    font-size:14px
}
#bx-soa-order .form-group label[for=zipProperty]:not(.error){
    top:0;
    left:0;
    font-weight:400;
    cursor:text;
    display:block;
    font-size:13px;
    margin-bottom:7px;
    color:#777
}
#bx-soa-order .form-group.value_y label:not(.error){
    position:absolute;
    background:#fff;
    font-size:12px;
    top:-10px;
    left:10px;
    padding:0 7px
}
#bx-soa-order .form-group.value_y input,#bx-soa-order .form-group.value_y textarea{
    background:#fff
}
#bx-soa-order .bx-soa-reference{
    margin:-8px 0 0;
    padding:0;
    font-size:12px;
    line-height:14px;
    color:#999
}
#bx-soa-order .bx-soa-tooltip{
    position:absolute;
    bottom:-22px;
    left:0;
    padding:0;
    background:0 0;
    max-width:100%;
    box-shadow:none;
    top:auto
}
#bx-soa-order .bx-soa-tooltip .tooltip-arrow{
    display:none
}
#bx-soa-order .bx-soa-tooltip .tooltip-inner{
    max-width:100%;
    padding:0;
    font-size:12px;
    line-height:20px;
    color:#fe5252;
    background:0 0
}

#bx-soa-order #bx-soa-basket .bx-soa-item-table .bx-soa-item-tr:first-child .bx-soa-item-td .bx-soa-item-td-title{
    padding:0;
    font-size:13px;
    line-height:20px;
    color:#999
}
#bx-soa-order #bx-soa-basket .bx-soa-item-table .bx-soa-item-tr .bx-soa-item-td:last-child{
    padding-right:24px!important
}
#bx-soa-order #bx-soa-basket .bx-soa-item-table .bx-soa-item-block{
    padding:0 0 0 14px
}
#bx-soa-order #bx-soa-basket .bx-soa-item-table .bx-soa-item-img-block{
    margin:0 0 0;
    padding:0;
    width:70px;
    height:70px;
    line-height:70px
}
#bx-soa-order #bx-soa-basket .bx-soa-item-table .bx-soa-item-img-block .bx-soa-item-imgcontainer{
    width:70px;
    height:70px;
    line-height:70px;
    padding:0;
    border-radius:0;
    border:none
}
#bx-soa-order #bx-soa-basket .bx-soa-item-table .bx-soa-item-content{
    padding:0 0 0 90px
}
#bx-soa-order #bx-soa-basket .bx-soa-item-table .bx-soa-item-title{
    margin:0 0 6px;
    padding:0;
    font-size:14px;
    font-weight:400;
    line-height:20px
}
#bx-soa-order #bx-soa-basket .bx-soa-item-table .bx-soa-item-title a{
    color:#333
}
#bx-soa-order #bx-soa-basket .bx-soa-item-content .bx-scu-container{
    max-width:100%;
    height:auto;
    margin:0 0 10px
}
#bx-soa-order #bx-soa-basket .bx-soa-item-content .bx-scu-container:after{
    background:0 0
}
#bx-soa-order #bx-soa-basket .bx-soa-item-content .bx-scu-container .bx-soa-item-td-title{
    margin:0;
    padding:0;
    font-size:12px;
    line-height:16px;
    color:#999
}
#bx-soa-order #bx-soa-basket .bx-soa-item-content .bx-scu-container .bx-soa-item-td-text{
    margin:0 0 0 6px;
    padding:0;
    font-size:12px;
    line-height:16px;
    color:#999
}
#bx-soa-order #bx-soa-basket .bx-soa-item-td-text small{
    display:block;
    margin:-1px 0 0;
    font-size:11px;
    line-height:14px;
    color:#aeaeae
}
#bx-soa-order #bx-soa-basket .bx-soa-item-properties.bx-text-right{
    text-align:left
}
#bx-soa-order #bx-soa-basket .bx-soa-item-properties.bx-text-right>div{
    text-align:left
}
#bx-soa-order #bx-soa-basket .bx-soa-item-td-text{
    line-height:20px
}
#bx-soa-order #bx-soa-basket .bx-price{
    line-height:16px;
    color:#333
}
#bx-soa-order #bx-soa-basket .bx-soa-item-td-title{
    font-size:12px;
    color:#999;
    vertical-align:top
}
#bx-soa-order .bx-price-old{
    margin:0 0 0 4px!important;
    font-size:13px;
    font-weight:400!important;
    line-height:20px;
    color:#777
}
#bx-soa-order #bx-soa-total-mobile{
    margin:0 0 20px!important
}
.bx-soa-item-tr.bx-soa-item-info-container+.bx-soa-basket-info .bx-soa-item-td{
    border-top:1px solid #f2f2f2!important
}
.bx-soa-item-tr.bx-soa-item-info-container .bx-soa-item-td{
    border:none!important
}
#content noscript+b{
    display:none
}
.sale_order_full_table{
    position:relative;
    display:block;
    margin:0 auto;
    max-width:730px
}
.sale_order_full_table:first-of-type{
    padding:101px 0 0!important;
    text-align:center;
    color:#333;
    border:none!important;
    margin-top: 15px;
}
.sale_order_full_table:first-of-type:before{
    content:"";
    position:absolute;
    left:50%;
    top:0;
    margin:0 0 0 -35px;
    width:70px;
    height:70px;
    background:url(images/order_ext.png) -103px -5px no-repeat
}
.sale_order_full_table:last-of-type{
    border:1px solid #f2f2f2;
    padding:34px 39px 34px
}
.sale_order_full_table:last-of-type tr:last-child td:first-child{
    padding-top:20px
}
.sale_order_full_table tbody{
    display:block
}
.sale_order_full_table tr{
    display:block
}
.sale_order_full_table .ps_logo{
    display:block
}
.sale_order_full_table .ps_logo br{
    display:none
}
.sale_order_full_table .ps_logo .pay_name{
    margin:0 0 22px;
    font-size:18px;
    font-weight:700;
    line-height:20px;
    color:#333
}
.sale_order_full_table .ps_logo .image{
    margin:0 25px 0 0;
    display:inline-block;
    vertical-align:middle;
    width:120px;
    height:72px;
    line-height:68px;
    text-align:center;
    border:1px solid #f2f2f2
}
.sale_order_full_table .ps_logo .paysystem_name{
    display:inline-block;
    vertical-align:middle;
    font-size:14px;
    line-height:20px;
    color:#333
}
.sale_order_full_table td>.tablebodytext{
    display:block;
    color:#333
}
.sale_order_full_table .tablebodytext br:first-of-type{
    display:none
}
.sale_order_full_table input[name=BuyButton]{
    margin:-7px 0 0;
    padding:7px 19px 9px;
    font-size:14px;
    line-height:20px;
    font-weight:700;
    color:#fff;
    border:1px solid transparent;
    -webkit-transition:all .1s ease-in-out;
    -moz-transition:all .1s ease-in-out;
    transition:all .1s ease-in-out
}
.sale_order_full_table form[name=ShopForm] .tablebodytext{
    display:block;
    margin:8px 0 0;
    font-size:12px;
    line-height:18px;
    color:#777
}
.sale_order_full_table form[name=ShopForm] .tablebodytext b{
    font-weight:400;
    color:#333
}
#bx-soa-order .bx-soa-pp-item-container .radio-inline.checked label:before,#bx-soa-order .bx-soa-pp-item-container .radio-inline label:hover:before,#bx-soa-order .bx-soa-pp-company:hover .bx-soa-pp-company-graf-container:before,#bx-soa-order .bx-soa-pp-company.bx-selected .bx-soa-pp-company-graf-container:before{
    background-color:#e11d71;
}
#bx-soa-order .bx-soa-pp-item-container .radio-inline{
    padding:0
}
#bx-soa-order .bx-soa-pp-item-container .radio-inline label{
    display:inline-block;
    float:none;
    margin:0;
    font-size:15px;
    font-weight:700;
    color:#333;
    cursor:pointer;
    position:relative;
    padding:0 0 0 32px!important
}
#bx-soa-order .bx-soa-pp-item-container .radio-inline label:before{
    content:"";
    display:block;
    position:absolute;
    left:0;
    top:-1px;
    width:20px;
    height:20px;
    background:#fbfbfb;
    border:1px solid #e9e9e9;
    border-radius:100%
}
#bx-soa-order .bx-soa-pp-item-container .radio-inline label:hover:before{
    border:none
}
#bx-soa-order .bx-soa-pp-item-container .radio-inline.checked label{
    cursor:default
}
#bx-soa-order .bx-soa-pp-item-container .radio-inline.checked label:before{
    border:none
}
#bx-soa-order .bx-soa-pp-item-container .radio-inline.checked label:after{
    content:"";
    position:absolute;
    left:5px;
    top:5px;
    width:10px;
    height:8px;
    background:url(images/order_ext.png) -64px -9px no-repeat
}
#bx-soa-order .bx-soa-pp-item-container .radio-inline input{
    display:none
}

/* */
@media only screen and (max-width:1174px) {
    #bx-soa-order .bx-soa-pp-desc-container .bx-soa-pp-company-graf-container {
        float: none
    }
    #bx-soa-order .bx-soa-pp-desc-container .bx-soa-pp-company .bx-soa-pp-company-desc {
        margin-top: 15px;
        padding-left: 0
    }
}
@media(min-width:1200px){
    .bx-soa-pp .bx-soa-pp-company:nth-child(3n+1){
        clear:both
    }
}
@media(min-width:992px){
    .bx-soa-pp .bx-soa-pp-company:nth-child(3n+1){
        clear:both
    }
    #bx-soa-order .bx-soa-pp-desc-container{
        padding-top:0
    }
}
@media(min-width:768px) and (max-width:991px){
    .bx-soa-pp .bx-soa-pp-company:nth-child(3n+1){
        clear:both
    }
}
@media(max-width:767px){
    .bx-soa-pp .bx-soa-pp-company:nth-child(2n+1){
        clear:both
    }
    .bx-soa-sidebar {
        width: 100%;
    }
    #bx-soa-order .bx-soa-section .bx-soa-section-content {
        padding: 25px 30px 25px 30px;
    }
    #bx-soa-order .bx-soa-more {
        margin: 27px -30px 0 -30px;
    }
    #bx-soa-main-notifications {
        clear: both;
    }
    #bx-soa-order #bx-soa-basket .bx-soa-item-table .bx-soa-item-block {
        display: flex;
    }
    #bx-soa-total {
        display: none;
    }
}
@media(min-width:481px) and (max-width:766px){
    .bx-soa-pp-desc-container .bx-soa-pp-company-logo{
        width:100%;
        padding-top:0
    }
    .bx-soa-pp-desc-container .bx-soa-pp-company-smalltitle{
        display:none
    }
    .bx-soa-pp-list-termin{
        width:30%
    }
}
@media(max-width:480px){
    .bx-soa-pp-company-logo{
        width:45%
    }
    .bx-soa-pp-company-title{
        display:none
    }
    .bx-soa-pp-item-container{
        border-right:0
    }
    .bx-soa-pp-desc-container .bx-soa-pp-company-logo{
        width:100%;
        padding-top:0
    }
    .bx-soa-pp-desc-container .bx-soa-pp-company-smalltitle{
        display:none
    }
    .bx-soa-pp-list-termin{
        width:40%
    }
}


.icon-warning {
    display: none;
}
.alert {
    padding-left: 80px!important;
    position: relative;
}
.alert .col-xs-12{
    padding-left: 15px!important;
}
.alert.alert-info:before {content: "\f05a";}
.alert.alert-success:before {content: "\f058";}
.alert.alert-warning:before {content: "\f071";}
.alert.alert-danger:before {content: "\f06a";}
.alert:before {
    position: absolute;
    left: 18px;
    font-size: 30px;
    top: 50%;
    font-family: FontAwesome;
    transform: translateY(-50%);
    margin-top: 0px;
}

.alert:after {
    background: url("./images/alert-seam.png") repeat-y 0 0;
    content: "";
    left: 60px;
    top: 4px;
    bottom: 3px;
    position: absolute;
    width: 5px;
}

